<%= stylesheet_link_tag    'static_pages', media: 'all', 'data-turbolinks-track' => true %>
<section class="about">
	<div class="wrapper">
		<div class="text-box">
			<h1>About Auto-Mate</h2>
			<p>A simple web app used to automate scheduled task such as wishing people 'Happy Birthday!' on Facebook...'cause I'm lazy.</p>
		</div>
	</div>
</section>