<%= stylesheet_link_tag    'static_pages', media: 'all', 'data-turbolinks-track' => true %>
<section class="about">
	<p>A simple web app used to automate scheduled task such as wishing people 'Happy Birthday!' on Facebook...'cause I'm lazy</p>
</section>