.signup {
	height: 100vh;
}

/* Above Fold Styling */
.above-fold-wrapper {
	padding-top: 50px;
	width: 100%;
	height: 400px;
	background-color: #52A028;
}

.left {
	float: left;
	width: 50%;
	height: 100%;
	text-align: center;
	font-family: georgia;
	color: white;
}

.right {
	float: right;
	width: 50%;
	height: 100%;
}



/* Forms */
.signup-form {
	font-family: georgia;
	margin: auto;
	border-radius: 15px 50px 15px 50px;
	box-shadow: 10px 17px 113px -6px rgba(0,0,0,0.75);
	background: #B0E44F;
	padding: 5px 20px 20px 20px;  
	width: 200px;
	height: 310px; 
}

.form-text-area {
	display: block;
	width: 100%;
	padding: 4px 5px;
	margin: 2px 0;
	border-radius: 5px 5px 5px;
	border: none;
	box-sizing: border-box;
}


/* Buttons */
.btn {
	background-color: #37A000;
	border: none;
	border-radius: 5px 5px 5px;
	color: white;
	padding: 16px 32px;
	margin: 15px 20px;
}

.btn:hover {
	background-color: #52A028;
}