<footer>
	<section class="container group">
		<p>© Auto-Mate</p>
		<nav class="footer-nav">
			<%= link_to 'Home', index_path%>
			<%= link_to 'About', about_path%>
			<%= link_to 'Contact', contact_path%>
		</nav>	
	</section>
</footer>
